body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body *::-webkit-scrollbar {
  width: 8px;
}

body *::-webkit-scrollbar-track {
  background: #2f2f37;
  border: 1px solid #4c4cff;
}

body *::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border: 3px solid #8585ad;
  width: 8px;
}
